<!doctype html>
<head>
  <title>Print Date and Time in All Supported Formats using Thymeleaf</title>
</head>
<body>
  <h1>Print Date and Time in All Supported Formats using Thymeleaf</h1>
  <div class="container">
    <form
      method="post"
      th:action="@{/submit-form}"
      th:object="${enteredDateTime}"
    >
      Year: <input type="number" id="year" th:field="*{year}" required /><br />
      Month:
      <input
        type="number"
        id="month"
        th:field="*{month}"
        required
        min="1"
        max="12"
        step="1"
      /><br />
      Day:
      <input
        type="number"
        id="day"
        th:field="*{day}"
        required
        min="1"
        max="31"
        step="1"
      /><br />
      Hour:
      <input
        type="number"
        id="hour"
        th:field="*{hour}"
        required
        min="0"
        max="23"
        step="1"
      /><br />
      Minute:
      <input
        type="number"
        id="minute"
        th:field="*{minute}"
        required
        min="0"
        max="59"
        step="1"
      /><br />
      Second:
      <input
        type="number"
        id="second"
        th:field="*{second}"
        required
        min="0"
        max="59"
        step="1"
      /><br />
      Millisecond:
      <input
        type="number"
        id="millisecond"
        th:field="*{millisecond}"
        required
        min="0"
        max="999"
        step="1"
      /><br />
      Microsecond:
      <input
        type="number"
        id="microsecond"
        th:field="*{microsecond}"
        required
        min="0"
        max="999"
        step="1"
      /><br />
      Nanosecond:
      <input
        type="number"
        id="nanosecond"
        th:field="*{nanosecond}"
        required
        min="0"
        max="999"
        step="1"
      /><br />
      <button type="submit">Submit</button>
    </form>
    <br />
    <h2>Current Date and Time:</h2>
    <h3>Java Date and Time Object:</h3>
    Era:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'GGG')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'GGGG')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'GGGGG')}"
    ></span
    >)<br />
    Year:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'uu')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'uuuu')}"
    ></span
    >)<br />
    Era Year:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'yy')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'yyyy')}"
    ></span
    >)<br />
    Day of Year:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'D')}"
    ></span
    ><br />
    Month of Year:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'M')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'MMM')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'MMMM')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'MMMMM')}"
    ></span
    >)<br />
    Day of Month:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'd')}"
    ></span
    ><br />
    Quarter:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'q')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'qqq')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'qqqq')}"
    ></span
    >)<br />
    ISO Week-based Year:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'YY')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'YYYY')}"
    ></span
    >)<br />
    Week of Year:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'w')}"
    ></span
    ><br />
    Week of Month:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'W')}"
    ></span
    ><br />
    Day of Week:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'E')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'EEEE')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'EEEEE')}"
    ></span
    >)<br />
    Local Day of Week:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'e')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'eee')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'eeee')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'eeeee')}"
    ></span
    >)<br />
    Local Week of Month:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'F')}"
    ></span
    ><br />
    AM/PM:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'a')}"
    ></span
    ><br />
    12 Hour Format:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'h')}"
    ></span
    ><br />
    0-11 Hour Format:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'K')}"
    ></span
    ><br />
    24 Hour Format:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'k')}"
    ></span
    ><br />
    Hour of Day:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'H')}"
    ></span
    ><br />
    Minute:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'm')}"
    ></span
    ><br />
    Second:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 's')}"
    ></span
    ><br />
    Fraction of Second:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'SSSSSSSSS')}"
    ></span
    ><br />
    Millisecond of Day:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'A')}"
    ></span
    ><br />
    Nanosecond:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'n')}"
    ></span
    ><br />
    Nanosecond of Day:
    <span
      id="output"
      th:text="${#temporals.format(currentDateTime, 'N')}"
    ></span
    ><br />
    <h3>Thymeleaf Date and Time Object:</h3>
    Year: <span id="output" th:text="${#temporals.year(currentDateTime)}"></span
    ><br />
    Month:
    <span id="output" th:text="${#temporals.month(currentDateTime)}"></span>
    (<span id="output" th:text="${#temporals.monthName(currentDateTime)}"></span
    >) (<span
      id="output"
      th:text="${#temporals.monthNameShort(currentDateTime)}"
    ></span
    >)<br />
    Day: <span id="output" th:text="${#temporals.day(currentDateTime)}"></span
    ><br />
    Day of Week:
    <span id="output" th:text="${#temporals.dayOfWeek(currentDateTime)}"></span>
    (<span
      id="output"
      th:text="${#temporals.dayOfWeekName(currentDateTime)}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.dayOfWeekNameShort(currentDateTime)}"
    ></span
    >)<br />
    Hour: <span id="output" th:text="${#temporals.hour(currentDateTime)}"></span
    ><br />
    Minute:
    <span id="output" th:text="${#temporals.minute(currentDateTime)}"></span
    ><br />
    Second:
    <span id="output" th:text="${#temporals.second(currentDateTime)}"></span
    ><br />
    Nanosecond of Second:
    <span id="output" th:text="${#temporals.nanosecond(currentDateTime)}"></span
    ><br />
    Millisecond:
    <span
      id="output"
      th:text="${#numbers.formatInteger(T(java.lang.Math).floor((#temporals.nanosecond(currentDateTime) / 1000000) % 1000), 1)}"
    ></span
    ><br />
    Microsecond:
    <span
      id="output"
      th:text="${#numbers.formatInteger(T(java.lang.Math).floor((#temporals.nanosecond(currentDateTime) / 1000) % 1000), 1)}"
    ></span
    ><br />
    Nanosecond:
    <span
      id="output"
      th:text="${#temporals.nanosecond(currentDateTime) % 1000}"
    ></span
    ><br />
    <h2>Current UTC Date and Time:</h2>
    <h3>Java Date and Time Object:</h3>
    Era:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'GGG')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'GGGG')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'GGGGG')}"
    ></span
    >)<br />
    Year:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'uu')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'uuuu')}"
    ></span
    >)<br />
    Era Year:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'yy')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'yyyy')}"
    ></span
    >)<br />
    Day of Year:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'D')}"
    ></span
    ><br />
    Month of Year:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'M')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'MMM')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'MMMM')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'MMMMM')}"
    ></span
    >)<br />
    Day of Month:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'd')}"
    ></span
    ><br />
    Quarter:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'q')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'qqq')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'qqqq')}"
    ></span
    >)<br />
    ISO Week-based Year:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'YY')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'YYYY')}"
    ></span
    >)<br />
    Week of Year:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'w')}"
    ></span
    ><br />
    Week of Month:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'W')}"
    ></span
    ><br />
    Day of Week:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'E')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'EEEE')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'EEEEE')}"
    ></span
    >)<br />
    Local Day of Week:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'e')}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'eee')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'eeee')}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'eeeee')}"
    ></span
    >)<br />
    Local Week of Month:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'F')}"
    ></span
    ><br />
    AM/PM:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'a')}"
    ></span
    ><br />
    12 Hour Format:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'h')}"
    ></span
    ><br />
    0-11 Hour Format:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'K')}"
    ></span
    ><br />
    24 Hour Format:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'k')}"
    ></span
    ><br />
    Hour of Day:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'H')}"
    ></span
    ><br />
    Minute:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'm')}"
    ></span
    ><br />
    Second:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 's')}"
    ></span
    ><br />
    Fraction of Second:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'SSSSSSSSS')}"
    ></span
    ><br />
    Millisecond of Day:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'A')}"
    ></span
    ><br />
    Nanosecond:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'n')}"
    ></span
    ><br />
    Nanosecond of Day:
    <span
      id="output"
      th:text="${#temporals.format(currentUtcDateTime, 'N')}"
    ></span
    ><br />
    <h3>Thymeleaf Date and Time Object:</h3>
    Year:
    <span id="output" th:text="${#temporals.year(currentUtcDateTime)}"></span
    ><br />
    Month:
    <span id="output" th:text="${#temporals.month(currentUtcDateTime)}"></span>
    (<span
      id="output"
      th:text="${#temporals.monthName(currentUtcDateTime)}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.monthNameShort(currentUtcDateTime)}"
    ></span
    >)<br />
    Day:
    <span id="output" th:text="${#temporals.day(currentUtcDateTime)}"></span
    ><br />
    Day of Week:
    <span
      id="output"
      th:text="${#temporals.dayOfWeek(currentUtcDateTime)}"
    ></span>
    (<span
      id="output"
      th:text="${#temporals.dayOfWeekName(currentUtcDateTime)}"
    ></span
    >) (<span
      id="output"
      th:text="${#temporals.dayOfWeekNameShort(currentUtcDateTime)}"
    ></span
    >)<br />
    Hour:
    <span id="output" th:text="${#temporals.hour(currentUtcDateTime)}"></span
    ><br />
    Minute:
    <span id="output" th:text="${#temporals.minute(currentUtcDateTime)}"></span
    ><br />
    Second:
    <span id="output" th:text="${#temporals.second(currentUtcDateTime)}"></span
    ><br />
    Nanosecond of Second:
    <span
      id="output"
      th:text="${#temporals.nanosecond(currentUtcDateTime)}"
    ></span
    ><br />
    Millisecond:
    <span
      id="output"
      th:text="${#numbers.formatInteger(T(java.lang.Math).floor((#temporals.nanosecond(currentUtcDateTime) / 1000000) % 1000), 1)}"
    ></span
    ><br />
    Microsecond:
    <span
      id="output"
      th:text="${#numbers.formatInteger(T(java.lang.Math).floor((#temporals.nanosecond(currentUtcDateTime) / 1000) % 1000), 1)}"
    ></span
    ><br />
    Nanosecond:
    <span
      id="output"
      th:text="${#temporals.nanosecond(currentUtcDateTime) % 1000}"
    ></span
    ><br />
  </div>
</body>
